<%=form_for :employee, url: create_login_path,method: :post do |f| %>
  
<div class="center-container-login">
    <div class="well">
      <p>
        <%= f.label :email %><br>
        <%=f.text_field(:email, {:class=>'form-control'}) %>
      </p>
      
      <p>
        <%= f.label :password %><br><span>
        <%=f.password_field(:password, {:class=>'form-control'}) %></span>
      </p>
      <p>
        <%=f.submit "Log In" ,:class=>"btn btn-success" %>
      </p>
    </div>
    </div>
<%end%>

