<div class="view">
<div class="well">
<div class="view_reply">
<h3>Ticket: <%=@user_query.ticket_id%></h3>
<h3>Raised_by: <%=@user_query.raised_by%></h3>
<h3>Replied_by: <%=@reply.replied_by%></h3>
<h4>subject: <%=@user_query.subject%></h4>
<h4>Department: <%=@user_query.department%></h4>
<h4>Status: <%=@user_query.status%></h4>
<h5> Query: <br/><%=@user_query.query%></h5>
<h5>Reply: <br/><%=@reply.reply%></h5>

<%=link_to "back",display_query_path, :class=>"btn btn-default"%>
</div>
</div></div>